DATABASE_URL="postgresql://myDatabaseUser:D1fficultP%40ssw0rd@host/aziz"

MAIL_HOST=""
MAIL_USER=""
MAIL_PASS=""
MAIL_SENDER=""

CLIENT_URL="http://localhost:3000"

OPENAI_KEY=""

UNI_CID=""
UNI_SECRET=""

BETTER_AUTH_SECRET="secret"
BETTER_AUTH_URL="http://localhost:3000"

AI_URL="http://localhost:5000"

REDIS_URL=""
MAX_MSGS=15

CAPTCHA_SECRET_KEY=""
